
.header_img {
  width: 100%;
}
.headerDiv{
  text-align: center;
}
.header_img2{
  width: 50%;
}

.options {
  display: flex;
  align-items: center;
  width: 100%;
}

.options > div {
  width: 100%;
  padding: 10px 0px 10px 10px;
  border: 0.5px solid black;
  margin-top: -5px;
}

@media only screen and (max-width: 1025px) {
  .options > div {
    font-size: 12px;
  }
}
