.ellipse-icon22,
.ellipse-icon23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2844px;
  height: 1579px;
}
.ellipse-icon23 {
  top: -122px;
  left: 575px;
  width: 1834px;
  height: 1652px;
  display: none;
}
.image-44-icon9,
.location-1-icon9 {
  position: absolute;
  object-fit: cover;
  display: none;
}
.image-44-icon9 {
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  mix-blend-mode: overlay;
}
.location-1-icon9 {
  top: -88px;
  left: 75px;
  width: 1984px;
  height: 1984px;
}
.rectangle-div90 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.24));
  backdrop-filter: blur(20px);
  width: 1920px;
  height: 1080px;
}
.rectangle-div91,
.rectangle-div92,
.rectangle-div93 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #c0ffca, #7faa86 70.83%, #76ff8c);
  width: 46px;
  height: 46px;
}
.rectangle-div92,
.rectangle-div93 {
  left: 454px;
}
.rectangle-div93 {
  left: 909px;
}
.group-div44 {
  position: absolute;
  top: 517px;
  left: 483px;
  width: 955px;
  height: 46px;
  display: none;
}
.group-icon15,
.screenshot-2022-06-20-at-12258 {
  position: absolute;
  top: 1143px;
  left: 0;
  width: 3189px;
  height: 1435px;
  object-fit: cover;
}
.group-icon15 {
  top: 27px;
  left: 1809px;
  width: 60px;
  height: 60px;
}
.f1taaz5x1huxr0i-p {
  margin: 0;
  top: 35px;
  left: 1631px;
  font-size: 16px;
  font-weight: 500;
}
.f1taaz5x1huxr0i-p,
.home-p,
.profile-settings-button1 {
  position: absolute;
  text-align: left;
  display: inline-block;
}
.profile-settings-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 59px;
  left: 1631px;
  font-size: 18px;
  font-family: Inter;
  color: #878787;
}
.home-p {
  margin: 0;
  top: 50px;
  left: 226px;
  font-size: 22px;
  letter-spacing: 0.2em;
  font-weight: 200;
}
.vertical-white-19 {
  position: absolute;
  top: 55px;
  left: 75px;
  width: 43px;
  height: 48px;
  object-fit: cover;
  display: none;
}
.rectangle-div94 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  width: 609.64px;
  height: 145.78px;
}
.div16,
.total-earned-div {
  position: absolute;
  top: 17.07px;
  left: 30.59px;
  display: inline-block;
  width: 192.42px;
  height: 22.33px;
}
.div16 {
  top: 60.65px;
  font-size: 60px;
  font-weight: 600;
  width: 234.1px;
  height: 77.68px;
}
.group-div46,
.rectangle-div95 {
  position: absolute;
  top: 0;
  left: 0;
  width: 609.64px;
  height: 145.78px;
}
.rectangle-div95 {
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  width: 294.93px;
  height: 130.88px;
}
.div17,
.energy-earning-div {
  position: absolute;
  top: 12.77px;
  left: 30.57px;
  display: inline-block;
  width: 129.48px;
  height: 12.77px;
}
.div17 {
  top: 48.95px;
  left: 30.59px;
  font-size: 50px;
  font-weight: 600;
  width: 131.28px;
  height: 64.91px;
}
.group-div47,
.rectangle-div96 {
  position: absolute;
  left: 0;
  height: 130.88px;
}
.group-div47 {
  top: 178.77px;
  width: 294.93px;
  font-size: 10px;
}
.rectangle-div96 {
  top: 0;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  width: 296.73px;
}
.div18,
.mining-earning-div {
  position: absolute;
  top: 12.77px;
  left: 25.18px;
  display: inline-block;
  width: 125.88px;
  height: 12.77px;
}
.div18 {
  top: 48.95px;
  left: 26.99px;
  font-size: 50px;
  font-weight: 600;
  width: 197.82px;
  height: 64.91px;
}
.group-div48 {
  position: absolute;
  top: 178.77px;
  left: 312.91px;
  width: 296.73px;
  height: 130.88px;
  font-size: 10px;
}
.rectangle-div97 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  width: 609.64px;
  height: 207.87px;
}
.active-solar-cells-120,
.activecells-div {
  position: absolute;
  width: 156.42px;
  height: 18.09px;
}
.active-solar-cells-120 {
  top: 0;
  left: 0;
  display: inline-block;
}
.activecells-div {
  top: 171.51px;
  left: 92.94px;
}
.weather-graadient-cloudy-day-1 {
  position: relative;
  width: 118px;
  height: 125px;
  flex-shrink: 0;
  overflow: hidden;
}
.c-div,
.pm-div {
  position: relative;
  display: inline-block;
}
.c-div {
  font-weight: 600;
}
.pm-div {
  font-size: 18px;
}
.frame-div24,
.frame-div25 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-div25 {
  flex-direction: column;
  gap: 38px;
}
.frame-div24 {
  position: absolute;
  top: 62.51px;
  left: 350.94px;
  flex-direction: row;
  font-size: 42px;
}
.currenttimeweather-div,
.group-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 609.64px;
  height: 207.87px;
}
.group-icon16 {
  top: 60.51px;
  left: 30.94px;
  width: 289.73px;
  height: 92.52px;
}
.group-div49,
.rectangle-div98 {
  position: absolute;
  top: 338.49px;
  left: 0;
  width: 609.64px;
  height: 207.87px;
}
.rectangle-div98 {
  top: 0;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  height: 162.83px;
}
.kwh-div,
.todays-production-div {
  position: absolute;
  top: 11.27px;
  left: 48.69px;
  display: inline-block;
  width: 152.41px;
  height: 12.53px;
}
.kwh-div {
  top: 1.7px;
  left: 0;
  width: 55.04px;
}
.weather-graadient-sunny-1 {
  position: absolute;
  top: 0;
  left: 12.13px;
  width: 15.79px;
  height: 14.9px;
  overflow: hidden;
}
.group-div52 {
  position: absolute;
  top: 8.51px;
  left: 530.87px;
  width: 55.04px;
  height: 14.9px;
  text-align: right;
}
.group-icon17 {
  position: absolute;
  height: 80.02%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 19.98%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.frame-div26 {
  position: absolute;
  top: 68.1px;
  left: 9.63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.group-div53 {
  position: absolute;
  height: 52.26%;
  width: 86.56%;
  top: 22.87%;
  right: 6.64%;
  bottom: 24.86%;
  left: 6.8%;
  font-size: 14px;
}
.group-div51 {
  position: absolute;
  top: 575.67px;
  left: 0;
  width: 609.64px;
  height: 162.83px;
  font-size: 8px;
}
.rectangle-div100,
.rectangle-div99 {
  position: absolute;
  top: 0;
  left: 599.94px;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  backdrop-filter: blur(20px);
  width: 622.94px;
  height: 234.12px;
}
.rectangle-div100 {
  top: 247.02px;
  left: 600.55px;
  width: 624px;
  height: 309px;
}
.geolocation-cannes-france {
  position: absolute;
  top: 0;
  left: 650.3px;
  font-weight: 500;
  display: inline-block;
  width: 296.73px;
  height: 15.96px;
}
.current-efficiency-div {
  top: 0;
  left: 0;
  display: inline-block;
  width: 266.05px;
}
.current-efficiency-div,
.div19,
.group-div56 {
  position: absolute;
  height: 21.76px;
}
.div19 {
  top: 0;
  left: 410.97px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  width: 64.89px;
}
.group-div56 {
  top: 170.72px;
  left: 662.85px;
  width: 475.86px;
  font-size: 14px;
}
.pm-div1 {
  position: relative;
  display: inline-block;
}
.frame-div27 {
  position: absolute;
  top: 284.49px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 43px;
}
.rectangle-div101 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  width: 523.44px;
  height: 122.87px;
}
.weather-graadient-sunrise-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.43px;
  height: 37.24px;
  overflow: hidden;
}
.am-div,
.sunrise-div {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 62.73px;
  height: 12.8px;
}
.am-div {
  top: 15.36px;
  font-size: 12px;
  font-weight: 600;
  width: 103.82px;
  height: 19.2px;
}
.group-div60,
.group-div61 {
  position: absolute;
  top: 2.73px;
  left: 77.59px;
  width: 103.82px;
  height: 34.56px;
}
.group-div60 {
  top: 11.35px;
  left: 45.7px;
  width: 181.42px;
  height: 37.29px;
  font-size: 8px;
}
.total-daylight {
  margin-block-start: 0;
  margin-block-end: 0;
}
.hours-p {
  margin: 0;
}
.hours-div,
.hours-div1,
.peak-efficiency-div,
.total-daylight-hours {
  position: absolute;
  top: 2.09px;
  left: 0;
  display: inline-block;
  width: 86.19px;
  height: 31.92px;
}
.hours-div,
.hours-div1,
.peak-efficiency-div {
  left: 247.67px;
  width: 59.59px;
}
.hours-div,
.hours-div1 {
  top: 0;
  left: 106.83px;
  font-size: 24px;
  font-weight: 600;
  width: 97.9px;
  height: 30.86px;
}
.hours-div1 {
  left: 329.83px;
  width: 121.31px;
}
.group-div62 {
  position: absolute;
  top: 68.85px;
  left: 39.78px;
  width: 451.14px;
  height: 34.01px;
}
.weather-graadient-sunset-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 39.47px;
  height: 37.24px;
  overflow: hidden;
}
.pm-div7,
.sunset-div {
  position: absolute;
  left: 0;
  display: inline-block;
}
.pm-div7 {
  top: 15.36px;
  font-weight: 600;
  width: 101.66px;
  height: 19.2px;
}
.sunset-div {
  top: 0;
  font-size: 8px;
  width: 58.4px;
  height: 12.8px;
}
.group-div64 {
  position: absolute;
  top: 2.73px;
  left: 83.97px;
  width: 101.66px;
  height: 34.56px;
}
.group-div59,
.group-div63 {
  position: absolute;
  top: 11.35px;
  left: 292.39px;
  width: 185.64px;
  height: 37.29px;
}
.group-div59 {
  top: 0;
  left: 649.55px;
  width: 523.44px;
  height: 122.87px;
  font-size: 12px;
}
.group-div57,
.group-div58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1173px;
  height: 296.49px;
}
.group-div57 {
  top: 35.84px;
  font-size: 10px;
}
.group-div54,
.group-div55 {
  position: absolute;
  top: 20.18px;
  left: 0;
  width: 1173px;
  height: 332.33px;
}
.group-div54 {
  top: 364.98px;
  left: 45.39px;
  width: 1224.55px;
  height: 556.02px;
  font-size: 12px;
}
.rectangle-div102 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  backdrop-filter: blur(20px);
  width: 197px;
  height: 101.75px;
}
.decentralized-02-1-icon {
  position: absolute;
  top: 24.72px;
  left: 17.85px;
  width: 57.89px;
  height: 51.94px;
  overflow: hidden;
}
.from-grid-div,
.kwh-div1,
.kwh-div2,
.to-grid-div {
  position: absolute;
  top: 39.2px;
  left: 92.03px;
  font-weight: 300;
  display: inline-block;
  width: 37.99px;
  height: 8.52px;
}
.kwh-div1,
.kwh-div2,
.to-grid-div {
  top: 52.83px;
  left: 97.45px;
  width: 28.04px;
}
.kwh-div1,
.kwh-div2 {
  height: 10.04%;
  width: 17.45%;
  top: 38.53%;
  right: 11.96%;
  bottom: 51.43%;
  left: 70.59%;
  font-size: 8px;
  font-weight: 600;
}
.kwh-div2 {
  top: 51.08%;
  bottom: 38.88%;
}
.group-div66,
.rectangle-div103 {
  position: absolute;
  left: 0;
  height: 101.75px;
}
.group-div66 {
  top: 130.25px;
  width: 197px;
  font-size: 7px;
}
.rectangle-div103 {
  top: 0;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  backdrop-filter: blur(20px);
  width: 170.49px;
}
.group-icon18 {
  position: absolute;
  height: 52%;
  width: 31.44%;
  top: 25.1%;
  right: 55.56%;
  bottom: 22.9%;
  left: 13%;
  max-width: 100%;
  max-height: 100%;
}
.kwh-div3,
.total-energy-produced {
  position: absolute;
  top: 31.5px;
  left: 86.36px;
  font-weight: 500;
  display: inline-block;
  width: 68.11px;
  height: 17.03px;
}
.kwh-div3 {
  height: 18.41%;
  width: 31.69%;
  top: 50.2%;
  right: 15.36%;
  bottom: 31.39%;
  left: 52.95%;
  font-size: 16px;
  font-weight: 600;
}
.group-div67,
.hashrate-2-icon {
  position: absolute;
  top: 0;
  left: 320.51px;
  width: 170.49px;
  height: 101.75px;
}
.hashrate-2-icon {
  top: 24.72px;
  left: 22.16px;
  width: 53.23px;
  height: 52.8px;
  overflow: hidden;
}
.home-consumption-div,
.kwh-div4 {
  position: absolute;
  top: 32.39px;
  left: 87.14px;
  font-weight: 500;
  display: inline-block;
  width: 59.5px;
  height: 17.03px;
}
.kwh-div4 {
  height: 18.41%;
  width: 40.11%;
  top: 49.88%;
  right: 11.99%;
  bottom: 31.71%;
  left: 47.9%;
  font-size: 18px;
  font-weight: 600;
}
.group-div68,
.line-div5 {
  position: absolute;
  top: 130.25px;
  left: 320.51px;
  width: 170.49px;
  height: 101.75px;
}
.line-div5 {
  top: 54px;
  left: 169px;
  width: 153px;
  height: 0;
}
.line-div6,
.line-div7,
.line-div8 {
  position: absolute;
  top: 178px;
  left: 198px;
  width: 120px;
  height: 0;
}
.line-div7,
.line-div8 {
  top: 207px;
  left: 199px;
}
.line-div8 {
  top: 109px;
  left: 420px;
  width: 0;
  height: 30px;
}
.kwh-div5,
.mining-consumption-div {
  position: absolute;
  top: 8.5px;
  left: 28.53px;
  font-weight: 500;
  display: inline-block;
  width: 121.27px;
  height: 7.66px;
}
.kwh-div5 {
  height: 18.41%;
  width: 27.73%;
  top: 41.83%;
  right: 20.05%;
  bottom: 39.76%;
  left: 52.22%;
  font-size: 16px;
  font-weight: 600;
}
.asic-miner-1-icon {
  position: absolute;
  top: 30.65px;
  left: 14.66px;
  width: 50.1px;
  height: 51.94px;
  overflow: hidden;
}
.group-div65,
.group-div69 {
  position: absolute;
  top: 0;
  left: 0;
  width: 170.49px;
  height: 101.75px;
}
.group-div65 {
  top: 666px;
  left: 699.94px;
  width: 491px;
  height: 232px;
  font-size: 8px;
}
.rectangle-div106 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  width: 609.64px;
  height: 147.91px;
}
.kwh-div6,
.kwh-div7,
.self-consumption-today,
.self-production-today {
  position: absolute;
  top: 65.35px;
  left: 49.94px;
  display: inline-block;
}
.kwh-div6,
.kwh-div7,
.self-consumption-today {
  left: 348.47px;
}
.kwh-div6,
.kwh-div7 {
  top: 90.35px;
  left: 49.94px;
  font-size: 26px;
  font-weight: 600;
  width: 127.68px;
  height: 32.99px;
}
.kwh-div7 {
  left: 348.47px;
  width: 161.85px;
}
.vector-icon40,
.vector-icon41 {
  position: absolute;
  top: 98.49px;
  left: 166.84px;
  width: 24.73px;
  height: 14.58px;
}
.vector-icon41 {
  left: 486.55px;
  width: 24.74px;
}
.group-div70,
.rectangle-div107 {
  position: absolute;
  top: 774.65px;
  left: 0;
  width: 609.64px;
  height: 147.91px;
}
.rectangle-div107 {
  top: 0;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  backdrop-filter: blur(20px);
  width: 334.51px;
  height: 457.55px;
}
.span10 {
  font-weight: 600;
  color: #9cffb8;
}
.tft-earnings-last-month-211 {
  position: absolute;
  top: 419.12px;
  left: 67.51px;
  font-size: 15px;
  display: inline-block;
  width: 227px;
  height: 21px;
}
.vector-icon42,
.vector-icon43,
.vector-icon44 {
  position: absolute;
  top: 176.62px;
  left: 66.01px;
  width: 58px;
  height: 176px;
}
.vector-icon43,
.vector-icon44 {
  left: 165.01px;
  width: 5px;
  height: 175px;
}
.vector-icon44 {
  left: 206.01px;
  width: 57px;
  height: 166px;
}
.btcstorage-icon,
.cloudmining-icon,
.cpu-icon,
.network-icon {
  position: absolute;
  height: 16.63%;
  width: 37.71%;
  top: 62.97%;
  right: 28.96%;
  bottom: 20.4%;
  left: 33.34%;
  max-width: 100%;
  max-height: 100%;
}
.btcstorage-icon,
.cpu-icon,
.network-icon {
  height: 13.93%;
  width: 15.68%;
  top: 16.3%;
  right: 71.44%;
  bottom: 69.77%;
  left: 12.89%;
}
.cpu-icon,
.network-icon {
  height: 13.97%;
  width: 15.98%;
  top: 16.2%;
  right: 41.51%;
  bottom: 69.83%;
  left: 42.51%;
}
.network-icon {
  height: 11.81%;
  width: 20.45%;
  top: 16.98%;
  right: 11.88%;
  bottom: 71.21%;
  left: 67.67%;
}
.div20,
.storage-unit-div {
  position: absolute;
  top: 54.12px;
  left: 41.51px;
  display: inline-block;
}
.div20 {
  top: 148.12px;
  left: 49.51px;
  font-size: 18px;
  font-weight: 600;
}
.compute-unit-div {
  top: 54.12px;
  left: 137.51px;
}
.compute-unit-div,
.div21,
.div22,
.network-unit-div {
  position: absolute;
  display: inline-block;
}
.div21 {
  top: 148.12px;
  left: 152.51px;
  font-size: 18px;
  font-weight: 600;
}
.div22,
.network-unit-div {
  top: 54.12px;
  left: 230.51px;
}
.div22 {
  top: 148.12px;
  left: 241.51px;
  font-size: 18px;
  font-weight: 600;
}
.price-00938-div,
.threefoldtft-div {
  position: absolute;
  top: 0;
  left: 6.54px;
  display: inline-block;
}
.price-00938-div {
  top: 22px;
  left: 36.54px;
  font-size: 12px;
  font-weight: 200;
}
.vector-icon45 {
  position: absolute;
  top: 25.87px;
  left: -1.5px;
  width: 21.21px;
  height: 9.48px;
}
.group-div71,
.group-div72 {
  position: absolute;
  top: 364.12px;
  left: 110.97px;
  width: 117.54px;
  height: 37px;
  font-size: 14px;
}
.group-div71 {
  top: 213.88px;
  left: 1308.43px;
  width: 334.51px;
  height: 457.55px;
  font-size: 10px;
}
.rectangle-div108,
.rectangle-div109 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 334.51px;
  height: 224.52px;
}
.rectangle-div108 {
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(0, 217, 100, 0.5),
    rgba(0, 255, 117, 0.4)
  );
}
.rectangle-div109 {
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  backdrop-filter: blur(20px);
}
.ecology-15-2-icon,
.ecology-17-1-icon {
  position: absolute;
  top: 32.83px;
  left: 39.35px;
  width: 55.28px;
  height: 62.48px;
  object-fit: cover;
}
.ecology-17-1-icon {
  top: 133.44px;
}
.co2-emissions-saved,
.div23,
.lbs-div,
.number-of-trees-for-the-same-e {
  position: absolute;
  top: 36.01px;
  left: 169.85px;
  font-weight: 500;
  display: inline-block;
  width: 133.01px;
  height: 15.96px;
}
.div23,
.lbs-div,
.number-of-trees-for-the-same-e {
  top: 128.15px;
  left: 123.46px;
  width: 179.83px;
  height: 31.92px;
}
.div23,
.lbs-div {
  top: 56.13px;
  left: 194.47px;
  font-size: 28px;
  font-weight: 600;
  width: 108.54px;
  height: 36.18px;
}
.div23 {
  top: 164.15px;
  left: 264.64px;
  width: 39.37px;
}
.group-div73 {
  position: absolute;
  top: 698.04px;
  left: 1308.43px;
  width: 334.51px;
  height: 224.52px;
  text-align: right;
  font-size: 12px;
}
.rectangle-div110,
.rectangle-div111 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 334.51px;
  height: 80.87px;
}
.rectangle-div110 {
  background-color: #03a400;
}
.rectangle-div111 {
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(0, 0, 0, 0.1),
    rgba(83, 83, 83, 0.08)
  );
}
.active-div,
.miner-status-div {
  position: absolute;
  top: 11.71px;
  left: 8.66px;
  font-weight: 500;
  display: inline-block;
  width: 90.45px;
  height: 18.09px;
}
.active-div {
  top: 37.24px;
  font-size: 24px;
  font-weight: 600;
  width: 78.74px;
  height: 30.86px;
}
.miner-icon {
  position: absolute;
  height: 68.42%;
  width: 15.34%;
  top: 15.79%;
  right: 3.54%;
  bottom: 15.79%;
  left: 81.12%;
  max-width: 100%;
  max-height: 100%;
}
.group-div74,
.rectangle-div112 {
  position: absolute;
  top: 1.06px;
  left: 1308.43px;
  width: 334.51px;
  height: 80.87px;
}
.rectangle-div112 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #cc9300;
}
.current-energy-consumption,
.kwh-div8 {
  position: absolute;
  top: 11.71px;
  left: 25.66px;
  font-weight: 500;
  display: inline-block;
  width: 207.5px;
  height: 18.09px;
}
.kwh-div8 {
  top: 37.24px;
  font-size: 24px;
  font-weight: 600;
  width: 97.9px;
  height: 30.86px;
}
.group-div76 {
  position: absolute;
  top: 0;
  left: 0;
  width: 334.51px;
  height: 80.87px;
}
.weather-graadient-bolt-1 {
  position: absolute;
  top: 14.9px;
  left: 276.29px;
  width: 47.36px;
  height: 51.08px;
  overflow: hidden;
}
.group-div75 {
  position: absolute;
  top: 108.54px;
  left: 1308.43px;
  width: 334.51px;
  height: 80.87px;
}
.rectangle-div114 {
  position: absolute;
  top: 0;
  left: 0.27px;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  width: 624.02px;
  height: 313.23px;
}
.rectangle-div115 {
  position: absolute;
  top: 46.32px;
  left: 0.27px;
  border-radius: 0 0 20px 20px;
  width: 624.35px;
  height: 266.96px;
}
.rectangle-div116,
.rectangle-div117,
.rectangle-div118,
.rectangle-div119,
.rectangle-div120 {
  position: absolute;
  top: 238.27px;
  left: 39.29px;
  background: linear-gradient(180deg, #5451ff, rgba(84, 81, 255, 0));
  width: 30.35px;
  height: 73.73px;
}
.rectangle-div117,
.rectangle-div118,
.rectangle-div119,
.rectangle-div120 {
  top: 189.97px;
  left: 160.69px;
  height: 122.04px;
}
.rectangle-div118,
.rectangle-div119,
.rectangle-div120 {
  top: 214.12px;
  left: 282.09px;
  height: 97.89px;
}
.rectangle-div119,
.rectangle-div120 {
  top: 273.87px;
  left: 401.32px;
  height: 38.14px;
}
.rectangle-div120 {
  top: 261.16px;
  left: 522.72px;
  height: 50.85px;
}
.rectangle-div121,
.rectangle-div122,
.rectangle-div123,
.rectangle-div124,
.rectangle-div125 {
  position: absolute;
  top: 167.08px;
  left: 69.64px;
  background: linear-gradient(180deg, #93ffaa, rgba(147, 255, 170, 0));
  width: 30.35px;
  height: 144.92px;
}
.rectangle-div122,
.rectangle-div123,
.rectangle-div124,
.rectangle-div125 {
  top: 76.83px;
  left: 191.04px;
  height: 235.18px;
}
.rectangle-div123,
.rectangle-div124,
.rectangle-div125 {
  top: 121.32px;
  left: 312.44px;
  height: 190.69px;
}
.rectangle-div124,
.rectangle-div125 {
  top: 238.27px;
  left: 431.67px;
  height: 73.73px;
}
.rectangle-div125 {
  top: 214.12px;
  left: 553.07px;
  height: 97.89px;
}
.rectangle-div126,
.rectangle-div127 {
  position: absolute;
  top: 326.67px;
  height: 17.03px;
}
.rectangle-div126 {
  left: 0;
  background: linear-gradient(180deg, #5451ff, rgba(84, 81, 255, 0));
  width: 19.74px;
}
.rectangle-div127 {
  left: 103.61px;
  background: linear-gradient(180deg, #93ffaa, rgba(147, 255, 170, 0));
  width: 17.76px;
}
.energy-earning-div1,
.miner-earning-div {
  position: absolute;
  top: 329.87px;
  left: 28.62px;
  font-weight: 300;
  display: inline-block;
  width: 66.11px;
  height: 9.58px;
}
.miner-earning-div {
  left: 130.25px;
  width: 61.18px;
}
.group-div78 {
  position: absolute;
  top: 0;
  left: 0;
  width: 624.61px;
  height: 343.7px;
}
.rectangle-div128 {
  position: absolute;
  top: 1.22px;
  left: 480.42px;
  border-radius: 0 18.5px 0 0;
  background-color: #989898;
  width: 142.07px;
  height: 45.1px;
  mix-blend-mode: multiply;
}
.energy-production-div {
  position: absolute;
  top: 19.5px;
  left: 43.42px;
  display: inline-block;
  width: 125.88px;
  height: 12.19px;
}
.earned-rewards-div,
.energy-consumption-div,
.miner-performance-div {
  position: absolute;
  top: 19.5px;
  left: 187.28px;
  display: inline-block;
  width: 142.07px;
  height: 12.19px;
}
.earned-rewards-div,
.miner-performance-div {
  left: 358.13px;
  width: 131.28px;
}
.earned-rewards-div {
  left: 523.57px;
  width: 111.5px;
}
.line-div10,
.line-div11,
.line-div9 {
  position: absolute;
  top: 0.72px;
  left: 147.23px;
  border-right: 1px solid #ababab;
  box-sizing: border-box;
  width: 1px;
  height: 46.1px;
}
.line-div10,
.line-div11 {
  left: 312.68px;
  border-right: 1px solid #a6a6a6;
}
.line-div11 {
  left: 478.12px;
  border-right: 1px solid #a2a2a2;
}
.group-div45,
.group-div77 {
  position: absolute;
  top: 0;
  left: 645.34px;
  width: 635.07px;
  height: 343.7px;
  font-size: 8px;
}
.group-div45 {
  top: 114px;
  left: 226.06px;
  width: 1642.94px;
  height: 922.56px;
  text-align: left;
  font-size: 14px;
}
.vertical-white-29 {
  position: absolute;
  top: 503px;
  left: 80px;
  width: 67px;
  height: 74px;
  object-fit: cover;
  display: none;
}
.rectangle-div129 {
  position: absolute;
  top: 477px;
  left: 219px;
  width: 413px;
  height: 147px;
}
.rectangle-section {
  position: absolute;
  top: 215px;
  left: 51px;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.4),
    rgba(165, 165, 165, 0.3)
  );
  width: 120px;
  height: 650px;
}
.group-icon19,
.vector-icon46,
.vertical-white-3-traced9 {
  position: relative;
  width: 67px;
  height: 77px;
  flex-shrink: 0;
}
.group-icon19,
.vector-icon46 {
  width: 38px;
  height: 38px;
}
.group-icon19 {
  width: 41px;
  height: 33.4px;
  cursor: pointer;
}
.frame-div29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 68px;
}
.vector-icon47 {
  position: relative;
  width: 42.91px;
  height: 43.96px;
  flex-shrink: 0;
}
.frame-div28 {
  position: absolute;
  top: 247px;
  left: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 162px;
}
.vector-icon48 {
  cursor: pointer;
  position: absolute;
  height: 1.85%;
  width: 1.04%;
  top: 5.74%;
  right: 6.88%;
  bottom: 93.41%;
  left: 94.08%;
  max-width: 100%;
  max-height: 100%;
}
.rectangle-div130 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.4),
    rgba(165, 165, 165, 0.3)
  );
  width: 225px;
  height: 30px;
}
.vector-icon49 {
  position: absolute;
  height: 53.33%;
  width: 7.11%;
  top: 23.33%;
  right: 2.67%;
  bottom: 23.33%;
  left: 90.22%;
  max-width: 100%;
  max-height: 100%;
  mix-blend-mode: overlay;
}
.last-updated-span3 {
  font-weight: 100;
}
.span11 {
  font-weight: 300;
}
.last-updated-122333-310723 {
  position: absolute;
  top: 7px;
  left: 13px;
  text-transform: lowercase;
  display: inline-block;
}
.group-div79,
.group-div80,
.group-div81 {
  position: absolute;
  top: 121px;
  left: 603px;
  width: 225px;
  height: 30px;
}
.group-div80,
.group-div81 {
  top: 467px;
}
.group-div81 {
  top: 901px;
}
.group-div82,
.group-div83,
.group-div84,
.group-div85 {
  position: absolute;
  top: 489px;
  left: 1259px;
  width: 225px;
  height: 30px;
}
.group-div83,
.group-div84,
.group-div85 {
  top: 737px;
}
.group-div84,
.group-div85 {
  top: 341px;
  left: 1633px;
}
.group-div85 {
  top: 172px;
  left: 1259px;
}
.thirddraftwdock-div {
  position: relative;
  background-color: #000;
  width: 1890px;
  height: 1080px;
  overflow: hidden;
  text-align: right;
  font-size: 12px;
  color: #fff;
  font-family: Inter;
  background-image: url(../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


@media screen and (max-width: 400px){
  .thirddraftwdock-div {
    display: flexbox;
    position: relative;
    width: 390px;
    height: 1850px;
  }
  .frame-div28 {
    display: none;
  }
  .rectangle-section {
    display: none;
  }
  .f1taaz5x1huxr0i-p {
    left: 80px;
  }
  .group-icon15 {
    left: 30px;
    width: 40px;
    height: 40px;
  }
  .home-p {
    display: none;
  }
  .profile-settings-button1 {
    left: 80px;
    font-size: 16px;
  }
  .group-div45 {
    top: 100px;
    left: 20.06px;
    width: 380.94px;
    height: 1700.56px;
    
  }
  .group-div46{
    width: 380px;
  }
  .rectangle-div94 {
    position: relative;
    border-radius: 14px;
    width: 345.64px;
    height: 90.78px;
  }
  .total-earned-div {
    position: absolute;
    top: 7px;
  }
  .div16 {
    top: 30.65px;
    font-size: 38px;
    font-weight: 500;
  }
  .group-div47 {
    top: 115.77px;
    width: 190.93px;
    font-size: 10px;
  }
  .rectangle-div95 {
    width: 168.64px;
    height: 90.78px;
    border-radius: 14px;
  }
  .energy-earning-div{
    position: absolute;
    top: 7px;
    font-size: 14px;
  }
  .div17{
    top: 30.65px;
    font-size: 38px;
    font-weight: 500;
  }
  .group-div48{
    top: 115.77px;
    width: 190.93px;
    font-size: 10px;
    left: 180px;
  }
  .rectangle-div96{
    width: 168.64px;
    height: 90.78px;
    border-radius: 14px;
  }
  .mining-earning-div{
    position: absolute;
    top: 7px;
    font-size: 14px;
  }
  .div18{
    top: 30.65px;
    font-size: 38px;
    font-weight: 500;
  }
  .group-div74{
    top: 225.77px;
    width: 168.93px;
    font-size: 10px;
    left: 0px;
    height: 70px;
  
  }
  .rectangle-div111 {
    border-radius: 14px;
    width: 168.51px;
    height: 70.87px;
    left:0px
  }
  .rectangle-div110{
    width:168.51px;
    height:70.87px
  }
  .miner-status-div{
    position: absolute;
    top: 7px;
    font-size: 14px;
  }
  .miner-icon{
    width: 38px;
    height:38px;
    top:17px;
    left:127px
  }
  .group-div75{
    top: 305.77px;
    width: 168.93px;
    font-size: 10px;
    left: 0px;
    height: 70px;
  }
  .group-div76 {
    position: absolute;
    top: 0;
    left: 0;
    width: 110.51px;
    height: 70.87px;
  }
  .rectangle-div112{
    width:168.51px;
    height:70.87px
  }
  .rectangle-div111{
    width:168.51px;
    height:70.87px
  }
  .current-energy-consumption{
    position: absolute;
    top: 7px;
    font-size: 8px;
    left: 8px;
  }
  .kwh-div8{
    top: 30.65px;
    font-size: 22px;
    font-weight: 500;
    left: 8px;
  }
  .weather-graadient-bolt-1 {
    top: 16.9px;
    left: 126.29px;
    width: 36.36px;
    height: 42.08px;
  }
  .group-div71 {
    top: 225.77px;
    left: 180px;
    width: 168.64px;
    height: 360.91px;
    font-size: 10px;
  }
  .rectangle-div107 {
    top: 0px;
    width: 168.64px;
    height: 360.91px;
  }
  .group-div49{
    width: 350px;
    height:150px;
    top: 610px;
  }
  .rectangle-div97 {
    width: 350.64px;
    height: 150.87px;
    top:0px
  }
  .currenttimeweather-div{
    width: 350px;
    height: 150px;
    top:0px
  }
  .group-icon16 {
    top: 35.51px;
    left: 35.94px;
    width: 130.73px;
    height: 52.52px;
  }
  
  
  
  .rectangle-div106 {
    width: 350.64px;
    height: 70.91px;
  }
  .self-production-today {
    
    top: 10.35px;
    left: 10.94px;
    font-size: 8px;
  }
  
  .self-consumption-today {
    left: 175.47px;
    top: 10.35px;
    font-size: 8px;
  }
  
  .kwh-div6 {
    top: 40.35px;
    left: 10.94px;
    font-size: 16px;
    font-weight: 400;
  }
  .kwh-div7 {
    top: 40.35px;
    left: 180.94px;
    font-size: 16px;
    font-weight: 400;
  }
  
  
  .vector-icon41 {
    position: absolute;
    top: 30.49px;
    left: 300.84px;
    width: 24.73px;
    height: 14.58px;
  }
  .vector-icon40{
    
    position: absolute;
    top: 30.49px;
    left: 120.84px;
    width: 24.73px;
    height: 14.58px;
  }
  .rectangle-div98 {
    position: relative;
    top: 0px;
    left: 0;
    width: 350px;
    height: 132.83px;
  }
  .group-div70{
    width: 360px;
    height: 70px;
    top: 800px
  }
  .group-div51 {
    position: absolute;
    top: 880.67px;
    left: 0;
    width: 350px;
    height: 132.83px;
    font-size: 8px;
  }
  .group-div52 {
    position: absolute;
    top: 8.51px;
    left: 250.87px;
    width: 55.04px;
    height: 14.9px;
    text-align: right;
  }
  .group-div53 {
    position: absolute;
  /* height: 52.26%;
  width: 86.56%;
  top: 2.87%;
  right: 6.64%;
  bottom: 24.86%;
  left: 6.8%;
  font-size: 14px; */
  top:20px;
 
  
  }
  .frame-div26 {
    position: absolute;
    left: 9.63px;
    gap: 28.5px;
  }
  .group-icon17 {
    top: 10px;
    max-width: 97%;
    max-height: 97%;
  }
  .c-div {
    font-weight: 200;
    font-size: 10px;
  }
  .frame-div27 {
    position: absolute;
    top: 570.49px;
    left: -10px;
    gap: 15px;
    width: 330px;
    right:30px
  }
  .group-div54 {
    top: 364.98px;
    left: 0.39px;
    width: 1224.55px;
    height: 556.02px;
    font-size: 12px;
  }
  .group-div77 {
    position: absolute;
    top: 1030px;
    left: 0px;
    width: 350.07px;
    height: 200.7px;
    font-size: 8px;
  }
  .group-div78 {
    
    width: 350.61px;
    height: 200.7px;
  }
  .rectangle-div114{
    width: 350.61px;
    height: 200.7px;
  }
  .rectangle-div115{
    width: 350.61px;
    height: 150.7px;
  }
  .rectangle-div116{
    visibility: hidden;
  }
.rectangle-div117{
  visibility: hidden;
}
.rectangle-div118{
  visibility: hidden;
}
.rectangle-div119{
  visibility: hidden;
}
.rectangle-div120 {
  visibility: hidden;
}
.rectangle-div128 {
  position: absolute;
  top: 1.22px;
  left: 269.42px;
  width: 82.07px;
  height: 35.1px;
}
.energy-production-div {
  position: absolute;
  top: 19.5px;
  left: 23.42px;
  width: 80.88px;
  height: 12.19px;
}
.earned-rewards-div {
  left: 280.57px;
  width: 80.5px;
}
.miner-performance-div {
  position: absolute;
  top: 19.5px;
  left: 190.28px;
  width: 80.07px;
  height: 12.19px;
}
.energy-consumption-div{
  position: absolute;
  top: 19.5px;
  left: 105.28px;
  width: 80.07px;
  height: 12.19px;
}
.line-div9 {
  position: absolute;
  top: 0.72px;
  left: 90.23px;
  border-right: 1px solid #ababab;
  box-sizing: border-box;
  width: 1px;
  height: 46.1px;
}
.line-div10 {
  position: absolute;
  top: 0.72px;
  left: 180.23px;
  border-right: 1px solid #ababab;
  box-sizing: border-box;
  width: 1px;
  height: 46.1px;
}
.line-div11 {
  position: absolute;
  top: 0.72px;
  left: 270.23px;
  border-right: 1px solid #ababab;
  box-sizing: border-box;
  width: 1px;
  height: 46.1px;
}
.rectangle-div123{
  display: none;
}
.rectangle-div121{
  display: none;
}
.rectangle-div122{
  display: none;
}
.rectangle-div126{
  display: none;
}
.rectangle-div127{
  display: none;
}
.energy-earning-div1{
  display: none;
}
.miner-earning-div{
  display: none;
}
.group-div73 {
  position: absolute;
  top: 385.04px;
  left: 0.43px;
  width: 165.51px;
  height: 200.52px;
  
}
.rectangle-div108{
  width: 165.51px;
  height: 200.52px;
}
.rectangle-div109{
  width: 165.51px;
  height: 200.52px;
}
.ecology-15-2-icon{
  position: absolute;
  top: 20.83px;
  left: 20.35px;
  width: 45.28px;
  height: 56.48px;
  object-fit: cover;
}
.ecology-17-1-icon {
  position: absolute;
  top: 117.83px;
  left: 20.35px;
  width: 45.28px;
  height: 56.48px;
  object-fit: cover;
}
.co2-emissions-saved{
  left: 59px;
  width: 90px;
  top: 12px;
}
.lbs-div{
  left: 53px;
  font-size: 24px;
}
.number-of-trees-for-the-same-e{
  left: 59px;
  width: 90px;
  top: 105px;
}
.div23{
  left: 93px;
  font-size: 24px;
  bottom: 10px;
}
.activecells-div {
  top: 111.51px;
  left: 32.94px;
}
.frame-div24 {
  position: absolute;
  top: 32.51px;
  left: 190.94px;
  flex-direction: row;
  font-size: 28px;
}
.weather-graadient-cloudy-day-1 {
  width: 58px;
  height: 72px;
  left: 10px;
}
.c1-div{
  left:380px;
  font-size: 26px;
  top: 15px;
}
.pm-div{
  left:20px;
  font-size: 10px;
  bottom: 15px;
}
.rectangle-div100 {
  top: 884.02px;
  left: 0.55px;
  width: 350px;
  height: 220px;
}
.group-div65 {
  top: 1250.02px;
  left: 0.54px;
  width: 350px;
  height: 220px;
  font-size: 8px;
}

.group-div69 {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 130px;
  height: 90.75px;
}
.group-div67 {
  position: absolute;
  top: 10px;
  left: 190px;
  width: 130px;
  height: 90.75px;
}
.group-div66 {
  position: absolute;
  top: 110px;
  left: 25px;
  width: 130px;
  height: 90.75px;
}
.group-div68 {
  position: absolute;
  top: 110px;
  left: 190px;
  width: 130px;
  height: 90.75px;
}
.rectangle-div103 {
  position: absolute;
  left: 0px;
  height: 90.75px;
  width: 130px;
  border-radius: 12px;
}
.rectangle-div102 {
  width: 130px;
  height: 90.75px;
  left: 0px;
}
.decentralized-02-1-icon {
  position: absolute;
  top: 24.72px;
  left: 17.85px;
  width: 57.89px;
  height: 51.94px;
  overflow: hidden;
}
.rectangle-div99 {
  top: 1120px;
  left: 0.94px;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  backdrop-filter: blur(20px);
  width: 350.94px;
  height: 200.12px;
}
.geolocation-cannes-france {
  position: absolute;
  top: 1120px;
  left: 30.3px;
  font-weight: 500;
  display: inline-block;
  width: 296.73px;
  height: 15.96px;
}
.group-div59 {
  top: 1110px;
  left: 30.55px;
  width: 200.44px;
  height: 122.87px;
  font-size: 12px;
}
.rectangle-div101 {
  width: 300.44px;
  height: 122.87px;
}
.group-div60 {
  top: 11.35px;
  left: 20.7px;
  width: 151.42px;
  height: 27.29px;
  font-size: 8px;
}
.group-div63 {
  top: 11.35px;
  left: 170.39px;
  width: 149.64px;
  height: 27.29px;
}
.group-div64 {
  position: absolute;
  top: 2.73px;
  left: 53.97px;
  width: 101.66px;
  height: 34.56px;
}
.group-div61{
  top: 2.73px;
  left: 53.97px;
  width: 101.66px;
  height: 34.56px;
}
.group-div62 {
  position: absolute;
  top: 68.85px;
  left: 5.78px;
  width: 300.14px;
  height: 30.01px;
}
.total-daylight-hours{
  left: 0px;
  font-size: 12px;
}
.hours-div{
  font-size: 18px;
  left: 80px;
}
.total-daylight{
  left: 14px;
}
.peak-efficiency-div{
  left: 160px;
}
.hours-div1{
  font-size: 18px;
  left: 210px;
}
.tft-earnings-last-month-211 {
  top: 300.12px;
  left: 32.51px;
  font-size: 15px;
  display: inline-block;
  width: 150px;
  height: 21px;
}
.storage-unit-div{
  top: 18px;
  left: 10px;
  font-size: 8px;
}
.div20{
  left: 16px;
  top: 36px;
}
.compute-unit-div{
  top: 18px;
  left: 70px;
  font-size: 8px;
}
.div21{
  left: 73px;
  top: 36px;
}
.network-unit-div{
  top: 18px;
  left: 134px;
  font-size: 8px;
}
.div22{
  left: 130px;
  top: 36px;
}
.group-div72 {
  position: absolute;
  top: 234.12px;
  left: 30.97px;
  width: 117.54px;
  height: 37px;
  font-size: 14px;
}
.cloudmining-icon{
  width: 76px;
  height:100px;
  top:110px;
  left: 47px;
}

}