/* .loader-body{
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    
}
.loader {
    color: #FFF;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
    box-sizing: border-box;
    margin-top: 20%;
  }
  .loader::before {
    content: '';  
    position: absolute;
    right: 70px;
    bottom: 10px;
    height: 28px;
    width: 5.15px;
    background: currentColor;
    box-sizing: border-box;
    animation: animloader1 1s linear infinite alternate;
  }
  .loader::after {
    content: '';  
    width: 10px;
    height: 10px;
    position: absolute;
    left: 125px;
    top: 2px;
    border-radius: 50%;
    background: red;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  
  @keyframes animloader {
    0% {
      transform: translate(0px, 0px) scaleX(1);
    }
    14% {
      transform: translate(-12px, -16px) scaleX(1.05);
    }
    28% {
      transform: translate(-27px, -28px) scaleX(1.07);
    }
    42% {
      transform: translate(-46px, -35px) scaleX(1.1);
    }
    57% {
      transform: translate(-70px, -37px) scaleX(1.1);
    }
    71% {
      transform: translate(-94px, -32px) scaleX(1.07);
    }
    85% {
      transform: translate(-111px, -22px) scaleX(1.05);
    }
    100% {
      transform: translate(-125px, -9px) scaleX(1);
    }
  }
  
  @keyframes animloader1 {
    0% {
      box-shadow: 0 -6px, -122.9px -8px;
    }
    25%, 75% {
      box-shadow: 0 0px, -122.9px -8px;
    }
    100% {
      box-shadow: 0 0px, -122.9px -16px;
    }
  } */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .bodycontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .bodybox {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0005);
    
  }
  
  .bodybox .loader {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: animateLoading 2s linear infinite;
  }
  
  .bodybox .loader:nth-child(2),
  .bodybox .loader:nth-child(4) {
    animation-delay: -1s;
    filter: hue-rotate(290deg);
  }
  
  @keyframes animateLoading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .bodybox .loader:nth-child(1)::before,
  .bodybox .loader:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.5));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  
  .bodycontainer .loader i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    border-radius: 50%;
    box-shadow: 0 0 10px #00fff9,
      0 0 20px #00fff9,
      0 0 30px #00fff9,
      0 0 40px #00fff9,
      0 0 50px #00fff9,
      0 0 60px #00fff9,
      0 0 70px #00fff9,
      0 0 80px #00fff9,
      0 0 90px #00fff9,
      0 0 100px #00fff9;
    z-index: 10;
  }
  
  .bodybox .loader span {
    position: absolute;
    inset: 20px;
    background: #000;
    border-radius: 50%;
    z-index: 1;
  }