.login-div1 {
    position: relative;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
  }
  .pleas-enter-your-login-details {
    position: relative;
    font-size: 16px;
    letter-spacing: 0.2em;
    display: inline-block;
  }
  .frame-input3 {
    border: 1px solid #0f4658;
    background-color: transparent;
    border-radius: 30px;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    padding: 20px 50px;
    align-items: center;
    justify-content: flex-end;
  }
  .line-div {
    position: relative;
    border-top: 1px solid #6f9da8;
    box-sizing: border-box;
    width: 547px;
    height: 1px;
    flex-shrink: 0;
  }
  .social-login-div {
    position: relative;
    letter-spacing: 0.3em;
    font-weight: 500;
    display: inline-block;
  }
  .image-53-icon {
    position: relative;
    width: 200px;
    height: 44px;
    flex-shrink: 0;
    object-fit: cover;
    cursor: pointer;
  }
  .frame-div1 {
    width: 546px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
    text-align: left;
    font-size: 36px;
  }
  .next-div {
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: inline-block;
  }
  .frame-div2 {
    border-radius: 20px;
    border: 0px;
    color: #fff;
    background-color: #17a40b;
    width: 238px;
    display: flex;
    flex-direction: row;
    padding: 30px 100px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: left;
    font-size: 24px;
  }
  .create-an-account {
    cursor: pointer;
    position: relative;
    font-size: 22px;
    letter-spacing: 0.3em;
    font-weight: 500;
    display: inline-block;
  }
  .frame-div,
  .login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .frame-div {
    border-radius: 20px;
    background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(167, 167, 167, 0.5),
      rgba(83, 83, 83, 0.4)
    );
    backdrop-filter: blur(50px);
    width: 621px;
    height: 1067px;
    flex-shrink: 0;
    gap: 49px;
  }
  .login-div {
    position: relative;
    width: 100%;
    padding: 350px 90px;
    box-sizing: border-box;
    background-image: url(../assets/Login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-family: Inter;
  }
  
  @media screen and (max-width: 425px){
    .login-div{
      padding: 60px 40px;
      width: fit-content;
      height: 1000px;
      font-size: 21px;
    }
    .frame-div{
      gap: 22px;
      border-radius: 16px;
      width: 65%;
      height: 600px;
    }
    .create-an-account {
      font-size: 18px;
      font-weight: 300;
    }
    .frame-div2 {
      border-radius: 16px;
      width: 140px;
      padding: 20px 40px;
      font-size: 18px;
    }
    .frame-div1 {
      width: 520px;
      gap: 30px;
      font-size: 28px;
    }
    .frame-input {
      border-radius: 15px;
      padding: 20px 10px;
    }
    .social-login-div {
      font-weight: 300
    }
    .line-div {
      width: 300px;
    }
    .image-53-icon{
      position: relative;
      width: 168px;
      height: 32px;
      flex-shrink: 0;
      object-fit: cover;
    }
  }