.lets-begin-div {
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 300;
  display: flex;
}
.frame-div31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lorem-ipsum-dolor {
  margin-block-start: 0;
  margin-block-end: 0;
}
.blank-line-p {
  margin: 0;
}
.lorem-ipsum-dolor-sit-amet-co,
.next-div4 {
  position: relative;
  letter-spacing: 0.1em;
  display: inline-block;
}
.lorem-ipsum-dolor-sit-amet-co {
  align-self: stretch;
  font-weight: 300;
}
.next-div4 {
  font-size: 24px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.frame-button2 {
  border: 0;
  padding: 20px 60px;
  background-color: #17a40b;
  border-radius: 20px;
  box-sizing: border-box;
}
.frame-button2,
.frame-div33 {
  flex: 1;
  align-self: stretch;
  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.frame-div30,
.frame-div32,
.letsbegin1-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div32 {
  align-self: stretch;
  height: 321px;
  flex-shrink: 0;
  gap: 20px;
  text-align: center;
  font-size: 18px;
}
.frame-div30,
.letsbegin1-div {
  box-sizing: border-box;
}
.frame-div30 {
  align-self: stretch;
  border-radius: 20px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(167, 167, 167, 0.5),
    rgba(83, 83, 83, 0.4)
  );
  backdrop-filter: blur(50px);
  height: 522px;
  flex-shrink: 0;
  padding: 0 140px;
  gap: 32px;
}
.letsbegin1-div {
  position: relative;
  width: 100%;
  padding: 602px 91px;
  background-image: url(../assets/begin.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 42px;
  color: #fff;
  font-family: Inter;
}

@media screen and (max-width: 425px){
  .next-div4{
    font-size: 12px;
  font-weight: 200;
  }
  .letsbegin1-div{
    font-size: 24px;
    padding: 112px 45px
  }
  .frame-div30{
    border-radius: 16px;
    padding: 0 70px;
    gap: 30px;
  }
  .frame-div32{
    font-size: 14px;
  }
  .frame-button2 {
    padding: 16px 50px;
    border-radius: 16px;
  }
}