.welcome-div {
    position: relative;
    letter-spacing: 0.3em;
    font-weight: 500;
    display: inline-block;
  }
  .masternatureblue-globe-icon {
    position: relative;
    width: 61.48px;
    height: 51px;
    flex-shrink: 0;
  }
  .frame-div35 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: 0 60px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 70px;
  }
  .dolor-nibh-a {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .lorem-ipsum-dolor-sit-amet-co1,
  .next-div5 {
    position: relative;
    letter-spacing: 0.1em;
    display: inline-block;
  }
  .lorem-ipsum-dolor-sit-amet-co1 {
    flex: 1;
    align-self: stretch;
    font-weight: 300;
  }
  .next-div5 {
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
    color: #fff;
    text-align: left;
  }
  .frame-button3 {
    cursor: pointer;
    border: 0;
    padding: 20px 60px;
    background-color: #17a40b;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ellipse-icon {
    position: relative;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
  .frame-button4,
  .frame-div37 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .frame-button4 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    flex: 1;
    justify-content: center;
    gap: 30px;
  }
  .frame-div37 {
    justify-content: flex-start;
    gap: 107px;
  }
  .frame-div36 {
    flex: 1;
    align-self: stretch;
    flex-direction: column;
    padding: 0 60px;
    align-items: flex-start;
    gap: 40px;
    font-size: 24px;
  }
  .frame-div34,
  .frame-div36,
  .welcome2-div {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
  }
  .frame-div34 {
    flex: 1;
    border-radius: 20px;
    background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(167, 167, 167, 0.5),
      rgba(83, 83, 83, 0.4)
    );
    backdrop-filter: blur(50px);
    height: 1381px;
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    gap: 32px;
  }
  .welcome2-div {
    position: relative;
    width: 100%;
    flex-direction: row;
    padding: 166px 91px;
    align-items: flex-start;
    background-image: url(../assets/Welcome2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: 42px;
    color: #fff;
    font-family: 'Inter', sans-serif;
  }
  