.setup-and {
    margin-block-start: 0;
    margin-block-end: 20px;
  }
  .config-p {
    margin: 0;
  }
  .setup-and-config {
    position: relative;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
  }
  .frame-div7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 42px;
  }
  .rectangle-div,
  .vector-icon {
    position: relative;
    flex-shrink: 0;
    mix-blend-mode: overlay;
  }
  .rectangle-div {
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 140px;
    height: 140px;
  }
  .vector-icon {
    width: 128px;
    height: 80px;
  }
  .frame-div9 {
    align-self: stretch;
    width: 252px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: -16px;
  }
  .create-nickname-div {
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 300;
    display: inline-block;
  }
  .frame-div11 {
    border-radius: 10px;
    width: 266px;
    display: flex;
    flex-direction: row;
    padding: 10px 100px 10px 13px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
  }
  .please-enter-miner-id-where-ap {
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    width: 266px;
  }
  .frame-div10,
  .frame-div8 {
    display: flex;
    justify-content: center;
  }
  .frame-div10 {
    height: 152px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  .frame-div8 {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    color: #8faab2;
  }
  .tft-span {
    font-weight: 600;
  }
  .threefold-node-id {
    font-weight: 300;
  }
  .tftthreefold-node-id,
  .verify-div {
    position: relative;
    letter-spacing: 0.2em;
    display: inline-block;
  }
  .verify-div {
    font-size: 18px;
    font-weight: 200;
    text-align: right;
    width: 134px;
    flex-shrink: 0;
  }
  .frame-div13 {
    width: 534px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
  }
  .rectangle-div1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 533.5px;
    height: 60px;
  }
  .group-div {
    position: relative;
    width: 533.5px;
    height: 60px;
    flex-shrink: 0;
  }
  .frame-div12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .verify-div1 {
    position: relative;
    font-size: 18px;
    letter-spacing: 0.2em;
    font-weight: 200;
    text-align: right;
    display: inline-block;
    width: 283px;
    flex-shrink: 0;
  }
  .frame-div15 {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
  }
  .rectangle-div2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 534px;
    height: 60px;
  }
  .group-div1 {
    position: relative;
    width: 534px;
    height: 60px;
    flex-shrink: 0;
  }
  .frame-div14 {
    width: 534px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .next-div1 {
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: inline-block;
  }
  .frame-div16 {
    border-radius: 20px;
    background-color: #17a40b;
    display: flex;
    flex-direction: row;
    padding: 30px 80px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-div6,
  .rectangle-icon {
    border-radius: 20px;
    flex-shrink: 0;
  }
  .frame-div6 {
    background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(167, 167, 167, 0.5),
      rgba(83, 83, 83, 0.4)
    );
    backdrop-filter: blur(50px);
    width: 621px;
    height: 1109px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 93px;
  }
  .rectangle-icon {
    position: relative;
    width: 101px;
    height: 101px;
    object-fit: cover;
  }
  .frame-div17,
  .frame-input2 {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-input2 {
    border: 0;
    background-color: transparent;
    width: 454px;
  }
  .frame-div17 {
    border-radius: 20px;
    background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(255, 255, 255, 0.4),
      rgba(165, 165, 165, 0.3)
    );
    width: 621px;
    height: 130px;
    padding: 30px 60px 30px 14px;
    box-sizing: border-box;
    gap: 21px;
  }
  .vector-icon1 {
    position: relative;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
  }
  .frame-div18,
  .setupconfig2-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 43px;
    color: #01202b;
  }
  .setupconfig2-div {
    position: relative;
    width: 100%;
    padding: 100px 90px;
    box-sizing: border-box;
    justify-content: center;
    gap: 91px;
    background-image: url(../assets/Login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Inter;
  }
  .frame-input3 {
    border: 1px solid #0f4658;
    background-color: transparent;
    border-radius: 30px;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    padding: 20px 50px;
    align-items: center;
    justify-content: flex-end;
  }

  @media screen and (max-width: 425px){
    .setupconfig2-div{
      padding: 50px 45px;
      width: fit-content;
      gap: 90px;
      font-size: 18px;
    }
    .setupconfig2-div{
      gap: 22px;
    }
    .vector-icon1{
    width: 90px;
    height: 90px;
    }
    .frame-div17{
      border-radius: 16px;
      width: 355px;
    height: 80px;
    padding: 15px 30px 15px 7px;
    }
    .frame-input2 {
      width: 145px;
  }
  .rectangle-icon {
    border-radius: 16px;
    width: 65px;
    height: 65px;
    object-fit: cover;
  }
  .frame-div6{
    width: fit-content;
    height: 1000px;
    gap: 65px;
  }
  .frame-div15{
    width: 400px;
    gap: 25px;
  }
  .frame-div16 {
    border-radius: 16px;
    padding: 20px 60px;
  }
  .setup-and {
    margin-block-end: 20px;
  }
  .setup-and-config {
    font-weight: 300;
  }
  .frame-div7 {
    font-size: 24px;
  }
  .rectangle-div {
    border-radius: 16px;
    width: 80px;
    height: 80px;
  }
  .vector-icon {
    width: 84px;
    height: 50px;
  }
  .frame-div9 {
    width: 180px;
    gap: -16px;
  }
  .frame-div11 {
    border-radius: 7px;
    width: 250px;
    padding: 6px 60px 6px 7px;
  }
  .please-enter-miner-id-where-ap {
    font-weight: 200;
    width: 240px;
  }
  .frame-div10 {
    height: 130px;
    gap: 30px;
  }
  .frame-div8 {
    gap: 15px;
    font-size: 16px;
  }
  .frame-input3{
    border-radius: 20px;
    padding: 20px 30px;
  }
  .verify-div {
    font-size: 18px;
    font-weight: 200;
    width: 283px;
  }
  .frame-div13 {
    width: 400px;
    gap: 25px;
  }
  .rectangle-div2 {
    border-radius: 16px;
    width: 400px;
    height: 35px;
  }
  .group-div1 {
    width: 400px;
    height: 35px;
  }
  .frame-div14 {
    width: 400px;
    gap: 15px;
  }
  
  .next-div1 {
    font-weight: 300;
  }
  
  
}