.SetwalletAddress3-div{
    width: 100%;
    position: relative;
    background-color: #000;
    display: flex;
    height: 750px;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    flex-direction: row;
    gap: 70px;
    overflow: hidden;
}
.SetWalletAddress3-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: 0.2em;
    color: #FFFFFF;
    position: absolute;
    left: 190px;
    top: 30px;
}
.SetWalletAddress3-container{
    background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(255, 255, 255, 0.4),
      rgba(165, 165, 165, 0.3)
    );
    backdrop-filter: blur(20px);
    border-radius: 20px;
    position: absolute;
    left: 190px;
    top: 120px;
    width: 1100px;
    height: 500px;
}
.SetWalletAddress3-container-back-div{
    position: absolute;
    left: 30px;
    top: 60px;
    cursor: pointer;
}
.SetWalletAddress3-container-back-div-text{
    position: absolute;
    left: 80px;
    top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.2em;

    color: #FFFFFF;
}
.SetWalletAddress3-div-main-input-div{
    position: absolute;
    top: 120px;
    left: 80px;
}
.SetWalletAddress3-div-main-input-div2{
    position: absolute;
    top: 240px;
    left: 80px;
}
.SetWalletAddress3-div-main-button{
    position: absolute;
    top: 360px;
    left: 80px;
}
.SetWalletAddress3-button{
    background: #17A40B;
    border-radius: 20px;
    width: 454px;
    height: 89px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border:0px;
    cursor: pointer;
}
.SetWalletAddress3-div-main-input-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.2em;

    color: #FFFFFF;
    padding-bottom: 20px;
}
.SetWalletAddress3-div-main-input{
    border-radius: 20px;
    box-sizing: border-box;
    width: 734px;
    height: 60px;
    background-color: transparent;
    
    
}
@media screen and (max-width: 420px){
    .SetwalletAddress3-div{
        height: 896px;
    }
    .SetWalletAddress3-text{
        display: none;
    }
    .SetWalletAddress3-container{
        left: 35px;
        top: 120px;
        width: 340px;
        height: 490px;
    }
    .SetWalletAddress3-container-back-div-text{
        top: 65px;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
    }
    .SetWalletAddress3-div-main-input-div{
        position: absolute;
        top: 120px;
        left: 30px;
    }
    .SetWalletAddress3-div-main-input-div2{
        position: absolute;
        top: 240px;
        left: 30px;
    }
    .SetWalletAddress3-div-main-button{
        position: absolute;
        top: 360px;
        left: 30px;
    }
    .SetWalletAddress3-button{
        border-radius: 16px;
        width: 254px;
        height: 69px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
    .SetWalletAddress3-div-main-input-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
    
        letter-spacing: 0.2em;
    
        color: #FFFFFF;
        padding-bottom: 20px;
    }
    .SetWalletAddress3-div-main-input{
        border-radius: 12px;
        box-sizing: border-box;
        width: 254px;
        height: 40px;
        background-color: transparent;
        
        
    }
}
@media screen and (max-width: 400px){
    .SetwalletAddress3-div{
        height: 844px;
    }
    .SetWalletAddress3-text{
        display: none;
    }
    .SetWalletAddress3-container{
        left: 20px;
        top: 120px;
        width: 340px;
        height: 490px;
    }
    .SetWalletAddress3-container-back-div-text{
        top: 65px;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
    }
    .SetWalletAddress3-div-main-input-div{
        position: absolute;
        top: 120px;
        left: 30px;
    }
    .SetWalletAddress3-div-main-input-div2{
        position: absolute;
        top: 240px;
        left: 30px;
    }
    .SetWalletAddress3-div-main-button{
        position: absolute;
        top: 360px;
        left: 30px;
    }
    .SetWalletAddress3-button{
        border-radius: 16px;
        width: 254px;
        height: 69px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
    .SetWalletAddress3-div-main-input-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
    
        letter-spacing: 0.2em;
    
        color: #FFFFFF;
        padding-bottom: 20px;
    }
    .SetWalletAddress3-div-main-input{
        border-radius: 12px;
        box-sizing: border-box;
        width: 254px;
        height: 40px;
        background-color: transparent;
        
        
    }
}