.success-div {
    position: relative;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
  }
  .frame-div603 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .please-click-next {
    margin-block-start: 0;
    margin-block-end: 20px;
  }
  .to-set-up {
    margin: 0;
  }
  .next-div103,
  .please-click-next-to-set-up-th {
    position: relative;
    font-size: 24px;
    letter-spacing: 0.1em;
    display: inline-block;
  }
  .please-click-next-to-set-up-th {
    text-transform: capitalize;
    font-weight: 300;
  }
  .next-div103 {
    font-weight: 500;
    font-family: Inter;
    color: #fff;
    text-align: left;
  }
  .frame-button1,
  .frame-div503 {
    border-radius: 20px;
    display: flex;
    box-sizing: border-box;
  }
  .frame-button103 {
    cursor: pointer;
    border: 0;
    border-color: #17a40b;
    padding: 30px 80px;
    background-color: #17a40b;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .frame-div503 {
    position: absolute;
    top: 230px;
    left: 470px;
    background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(255, 255, 255, 0.4),
      rgba(165, 165, 165, 0.3)
    );
    backdrop-filter: blur(300px);
    flex-direction: column;
    padding: 60px 100px;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .registration3-div {
    position: relative;
    background-color: #000;
    width: 100%;
    height: 780px;
    overflow: hidden;
    text-align: center;
    font-size: 42px;
    color: #fff;
    font-family: Inter;
    background-image: url(../assets/Registration4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  @media screen and (max-width: 400px){
    .registration3-div{
        height: 844px;
        font-size: 28px; 
    }
    .frame-div503{
        position: relative;
        top: 200px;
        left: 30px;
        border-radius: 14px;
        padding: 20px 30px;
        gap: 52px;
        width: 330px;
    }
    .frame-button103 {
        padding: 15px 40px;
        width: 250px;
        border-radius: 16px;
      }
      .next-div103 {
        font-weight: 300;
        text-align: center;
        font-size: 18px;
      }
      .please-click-next-to-set-up-th {
        font-size: 14px;
        letter-spacing: 0.1em;
        font-weight: 200;
      }
      .success-div {
        font-weight: 300;
        font-size: 24px;
      }
      .frame-div603{
        padding-left: 15px;
      }
  }
  
  @media screen and (max-width: 376px){
    .frame-div503{
      position: relative;
      top: 200px;
      left: 25px;
      border-radius: 14px;
      padding: 20px 30px;
      gap: 52px;
      width: 330px;
  }
  }